<div class="container-weather" [ngClass]="className">
  <form #form="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        placeholder="Enter city"
        name="city"
        [(ngModel)]="city"
      />
    </div>
  </form>

  <div class="main-info">
    <div class="upperInfo">
      <div class="cityName">
        <h1>{{ cityName }}</h1>
      </div>
      <div class="dayInfo">
        <p>
          Last updated:
          <span>{{ lastUpdate | date : "EEEE, MMMM d, y, h:mm:ss a" }}</span>
        </p>
        <p>
          Time:
          <span>{{ timeNow | date : "EEEE, MMMM d, y, h:mm:ss a" }}</span>
        </p>
      </div>
    </div>
    <div class="belowInfo">
      <div class="temperature">
        <h1>{{ temp }} &#8451;</h1>
      </div>
      <div class="weatherDes">
        <p style="font-weight: bold">{{ weatherDescription }}</p>
      </div>
    </div>
  </div>

  <div class="extra-info" *ngIf="showExtraInfo" [ngClass]="extraClassName">
    <div class="item">
      <h3>Humidity</h3>
      <p>{{ humidity }} %</p>
    </div>
    <div class="item">
      <h3>Wind</h3>
      <p>{{ windDegree }} deg, {{ windSpeed }} km/h</p>
    </div>
    <div class="item">
      <h3>Pressure</h3>
      <p>{{ pressure }} mb</p>
    </div>
    <div class="item">
      <h3>RealFeel Shade</h3>
      <p>{{ feelsLike }} &#8451;</p>
    </div>
  </div>

  <div class="showExtraBtn">
    <button class="btn btn-primary" (click)="onShowExtra()">
      {{ showExtraText }}
    </button>
  </div>
</div>
