@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Indie+Flower&family=Lobster&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Courgette&family=Indie+Flower&family=Lobster&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Courgette&family=Indie+Flower&family=Libre+Baskerville&family=Lobster&family=Signika+Negative:wght@300&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.container-weather {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  margin: 0;
}

input {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
  font-family: "Signika Negative", sans-serif;
}
div.temperature h1 {
  font-size: 6rem;
}

div.container-weather > form,
div.main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "Courgette", cursive;
}

div.belowInfo {
  margin-top: 40px;
  font-family: "Indie Flower", cursive;
}

div.belowInfo > div.weatherDes > p {
  font-size: 2em;
}

div.showExtraBtn {
  text-align: center;
}

div.showExtraBtn > button {
  padding: 10px 40px;
  margin-top: 10px;
}

div.extra-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;
  font-family: "Bodoni Moda", serif;
  font-weight: bold;
  /* background-color: white; */
}
div.extra-info h3 {
  font-family: "Libre Baskerville", serif;

  font-size: 2em;
}
.item {
  text-align: center;
  margin: 10px;
}

.daytime {
  background-image: url("../assets/images/day.jpg");
  color: darkolivegreen;
}
.daytimeExtra {
  color: #000;
}

.nighttime {
  background-image: url("../assets/images/night.jpg");
  color: yellow;
}
.nighttimeExtra {
  color: #fff;
}
